sl-switch {
    &::part(control) {
        background-color: var(--app-color-secondary);
        border-color: var(--app-border-color);

    }

    &[checked]::part(control) { 
        background-color: var(--app-color-primary);
        border-color: var(--app-color-primary);
    }
}